.containerr {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    background: #121212; 
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 60px 60px;
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  

  .container2 {
    width: 100%;
    height: 100%;
    --s: 37px; /* control the size */
  
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  }
  @media only screen and (max-width:1570px)
  {
    .containerr{
      margin-left: 0px;
      margin-right: 0px;
    }
    #ma{
      margin-right: 3rem;
    }
  }

  @media only screen and (max-width:1570px)
  {
    .containerr h1{
   font-size: 2rem;
   padding-left: 10px;
   padding-right: 10px;
   margin-right:0rem;
    }
    #ma h1{
      margin-right: 0px;
      font-size: 1rem;
      padding: 5px;
    }
    #ma{
      margin-right: 0px;
    }
  }

  
  @media only screen and (max-width:1570px)
  {
    .containerr h1 b{
   font-size: 2rem;
  
   margin-right:0rem;
    }
    .containerr h1 {
      font-size: 2rem;
      padding-left: 10px;
      padding-right: 10px;
      margin-right:0rem;
       }
    #ma h1,span    {
      margin-right: 0px;
      font-size: 1.5rem;
      padding: 10px;
  
    
    }
    #ma span{
      margin-top: 50px;
    }
    #ma h1  b  {
      margin-right: 0px;
      font-size: 1.5rem;
    }
    #ma{
      margin-right: 100px;
    }
  }

  @media only screen and (max-width:1120px){

    #ma{
      margin-right: 0%;
    }
    
  }