#no-scrollbar {
    scrollbar-width: thin;
    overflow: scroll;
    scrollbar-color: transparent transparent; /* For Firefox */
  }
  
  #no-scrollbar::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
  }
  
  #no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  @media  only screen and (max-width:1650px){
    #text{
      font-size: 2rem;
    }
    #homw{
      font-size: 2.3rem;

    }
  }