#no-scrollbar {
    scrollbar-width: thin;
    overflow: scroll;
    scrollbar-color: transparent transparent; /* For Firefox */
  }
  
  #no-scrollbar::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
  }
  
  #no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }