@media  only screen and (max-width:756px){
  #none{
    display: none;
    width: 0%;
  }

  #full{
    width: 100%;
    justify-content: start;
  }
  #margin{
    margin-right: 0%;
  }
  #s{
    height: 100vh;
  }
}